*{
    padding:0px;
    margin:0px;
}



a{
    text-decoration: none;
    transition: all;
    color:black;
    transition-duration: 0.5s;
}

li{
    list-style: none;
    font-family: Courier New, Courier, monospace;
    text-transform: uppercase;
    font-style: bold;

}

ul{
    padding:20px;
    display:grid;
    grid-template-columns: 4fr repeat(4 , 1fr);

}

nav{
        background-color:grey;
        /* color:red; */
}

a:hover{
    color:white;

}


header{
     background-image: url("photo.jpg");
     background-color: #cccccc;
     height:100vh;
}

h1{
display: grid;
padding: 40px 40px 40px 40px;
text-align: center;
font-size: 50px;


}
body{
font-family: 'Sofia';
font-size: 20px;

}

img{
    padding-left: -20px;
    margin-right: -1em;
    display: block;
    border-radius: 50%;
    opacity: 0.5;
}

responsive{



}

.responsive{



}



@media only screen and (max-width: 360px) {
  body {
    background-color: #cccccc;
    background-image: url("")
    /* font-size:1rem; */

  }
/*   
 .hide{
    display:none;
}

ul{
    padding:20px;
    display:grid;
    /* grid-template-columns:  repeat(4 , 5rem); */
/* } */
   

a{
    font-size:1rem;
}
header{
     background-image: url("photo.jpg");
     background-color: #cccccc;
     height:100vh;
     background-size: cover;
     background-position: center;
}

h1{
display: grid;
padding: 0px 40px 40px 40px;
text-align: center;
font-size: 40px;
color: blue;
}

li{
    list-style: none;
    font-family: Courier New, Courier, monospace;
    text-transform: uppercase;
    font-style: bold; 
}


























}