
.Header{
  text-align: center;
}

.div{
  text-align: center;
  padding: 30px 0px 0px 0px;
}

.div-2{
  border: 5px solid #000000;
  border-radius: 20%;
  display: grid;
  grid-template-columns: auto;
}

.h2{
  font-size: 30px;
  color: black;
}

.button-1{
  border: 9px solid green;
  border-radius: 50%;
  background-color: green;

}

.button-2{
  border: 9px solid red;
  border-radius: 50%;
  background-color: red;

}




.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

.captured-times {
  background-color: rgba(225,225, 225, 0.8);
  border: 1px solid rgba(0,0,0,0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}