.Header {
 background-color: rgb(3, 3, 78);
 height: 13vh;
 color: white;
 padding: 9px 0px 0px 80vh;
}
.Header>h1 {
  font-size: 40px;
  font-family: 'Stoke', serif;
  margin-left: -10px;
}
Body {

  background-image: url("https://cdn.pixabay.com/photo/2019/11/19/14/11/landscape-4637538_960_720.jpg");
  background-size: cover;
}
.Wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 100px;
}
.Container {
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  height: auto;
}
/* Users */
.Users {
background: rgb(204, 204, 204);
background: rgba(204, 204, 204, 0.5);
width: 38vh;
margin: 50px 600px 80px 50px;
-moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 30px;
}
.Users-2 {
  padding: 10px 0px 0px 25px;
}
.Users-input {
  text-align: center;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
  margin: 20px 0px 10px 15px;
}
.Users-h1 {
  background-color:  rgb(0, 94, 235);
  margin-top: -1px;
  color: white;
  padding: 5px 0px 0px 60px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  height: 50px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 30px;
}
/* Books */
.Books {
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
  width: 42vh;
  margin: 50px 80px 80px -280px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 30px;
}
.Books-2 {
  padding: 10px 0px 0px 30px;
}
.Inputs {
  padding-left: 30px;
}
.Inputs>button {
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}
.Books-h1 {
  background-color:  rgb(0, 94, 235);
  margin-top: -1px;
  color: white;
  padding: 5px 0px 0px 60px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  height: 50px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 30px;
}
/* Computers */
.Computers {
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
  width: 38vh;
  margin: 50px 400px 80px -650px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 30px;
}
.Computers-2 {
  padding: 10px 0px 0px 50px;
}
.Computers-input {
  padding: 10px 0px 0px 10px;
  
}
.Computers-input>input {
  text-align: center;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
}
.Computers-input>button {
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
}
.Computers-h1 {
  background-color:  rgb(0, 94, 235);
  margin-top: -1px;
  color: white;
  padding: 5px 0px 0px 40px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  height: 50px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 30px;
}

/* Buttons */

.Smallest-div>button {
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
}
.Flexing>button {
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}
.Small-div>button {
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}
.Add-user-button{
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}
.Author {
  text-align: center;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
}
.Title {
  text-align: center;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
}